extends ../layouts/admin.pug
block title
	title Admin plan


block content
	include ../components/bread-crumbs.pug
	+pageTitle("")
	.container 
		.row 
			.col-12
				form.card
					.row
						.col-8
							.field-wrapper
								label.field-wrapper__label Plan name
								.field-wrapper__content
									input(class="field" 
												type='text' 
												placeholder='Insert your plan name' 
												name='title' 
												data-purpose='edit-course-title' 
												maxlength='' 
												id='main[title1]' 
												value='')
							.field-wrapper
								label.field-wrapper__label plane description
								.field-wrapper__content
									textarea( class="field" id="id_course_description" rows='5' name='description' placeholder='Insert your plan description')
							.field-wrapper
								label.field-wrapper__label Plan period
								.field-wrapper__content
									input(class="field" 
												type='text' 
												placeholder='Insert your plan period' 
												name='title' 
												data-purpose='edit-course-title' 
												maxlength='' 
												id='main[title1]' 
												value='')
							.field-wrapper
								label.field-wrapper__label Plan price
								.field-wrapper__content
									input(class="field" 
												type='text' 
												placeholder='Insert your plan price' 
												name='title' 
												data-purpose='edit-course-title' 
												maxlength='' 
												id='main[title1]' 
												value='')
							.field-wrapper
								label.field-wrapper__label Plan level
								.field-wrapper__content
									input(class="field" 
												type='text' 
												placeholder='Insert your plan level' 
												name='title' 
												data-purpose='edit-course-title' 
												maxlength='' 
												id='main[title1]' 
												value='')
							.field-wrapper
								label.field-wrapper__label Plan trial
								.field-wrapper__content
									input(class="field" 
												type='number' 
												placeholder='Insert your plan trial' 
												name='title' 
												data-purpose='edit-course-title' 
												maxlength='' 
												id='main[title1]' 
												value='')
							.field-wrapper
								label.field-wrapper__label Plan Permissions
								.field-wrapper__content
									#sourceFields.box
										div  Item 1 
										div  Item 2 
										div  Item 3 
										div  Item 4 
										div  Item 5 
									#fieldChooser(tabindex='1').box
						.col-4 
							.field-wrapper.field-wrapper--full
								label(class="field-wrapper__label" for='inputGroupFile06')
								.image-list
									
								.input-group.field-field-group
									.file-input
										input(id="inputGroupFile06" class="field" type='file')
										label(class="file-input__label" for='inputGroupFile06') Chose plan image
							div.check-field
								div.check-field__control
									input(class="check-field__input" type="checkbox" id="is_life_time" name="checkname")
									label(for="is_life_time")
									span
								label.check-field__label Is Life Time
							div.check-field
								div.check-field__control
									input(class="check-field__input" type="checkbox" id="is_recommended" name="checkname")
									label(for="is_recommended")
									span
								label.check-field__label Is Recommended
						.col-12
							//- include ../components/general-component/table-dashboard.pug