extends ../layouts/auth.pug


block title
  title forget

block content
  h2 Request a Password Reset
  form(class="needs-validation")
    div(class="ui search focus mt-50")
      div(class=" icon input lbel25")
        label(for="validationServerEmail" class="sr-only d-none") Email Address *
        div(class="ui left icon input swdh95")
          input(
          class="prompt srch_explore"
          type="email"
          name="emailaddress"
          id="validationServerEmail" required maxlength="64"
          aria-describedby="validationServer06Feedback"
          placeholder="Email Address" autofocus)
          i(class="uil uil-envelope icon icon2")
        div(class="invalid-feedback my-2" id="validationServer06Feedback") Requerd
    button(class="login-btn" type="submit")
      | Reset Password
  p(class="mb-0 mt-30") Go Back
    a(href="../pages/login.pug")  Sign In 


