extends ../layouts/auth.pug


block title
  title forget

block content
  h2 Request a Password Reset
  form.needs-validation
    .ui.search.focus.mt-50
      .icon.input.lbel25
        label.sr-onlyd-none(for="validationServerEmail") Email Address *
        .ui.left.icon.input.swdh95
          input.prompt.srch_explore(
          type="email"
          name="emailaddress"
          id="validationServerEmail" required maxlength="64"
          aria-describedby="validationServer06Feedback"
          placeholder="Email Address" autofocus)
          i.uil.uil-envelope.icon.icon2
        .invalid-feedback.my-2#validationServer06Feedback Requerd
    button.login-btn(type="submit")
      | Reset Password
  p.mb-0.mt-30 Go Back
    a(href="../pages/login.pug")  Sign In 


