extends ../layouts/auth.pug


block title
	title forget
block content
	h2.title-h6.semi-bold  Request a Password Reset
	form.needs-validation
		.field-wrapper
			label.text-field__label
				|	Course Title
				abbr(title="required") *
			.text-field__content
				input.text-field__input.text-field--icon(
					type='email'
					placeholder='Email Address'
					name='email address'
					data-purpose='edit-course-title'
					maxlength=''
					required
					id="emailType"
					value=''
					)
				i.far.fa-envelope.input__icon(style="display : block")
			ul.messages
				li
					| Please provide a valid city.
		.row.d-flex.justify-content-around
			button.ad-btn.ad-btn--primary.ad-btn--rounded.ad-btn--xl(type="submit")  Reset Password
	p.title-2 Go Back
		a.ad-btn.ad-btn--success.ad-btn--text.p-0.m-0(href="../pages/login.pug")    Sign In


