extends ../layouts/auth.pug


block title

	title login

block content

	h2.title-h6.semi-bold  Welcome Back
	//- p Log In to Your Edututs+ Account!
	.course_tabs.mb-5
		#nav-tab.nav.nav-tabs.tab_crse.justify-content-center(role='tablist')
			a#nav-about-tab.nav-item.nav-link.active(data-toggle='tab' href='#login-email' role='tab' aria-selected='true') Login
			a#nav-courses-tab.nav-item.nav-link(data-toggle='tab' href='#login-number' role='tab' aria-selected='false') Verify
	//- .course_tab_content.pt-5
	//-   #nav-tabContent.tab-content
	//-     #login-email.tab-pane.fade.show.active(role='tabpanel')
	//-       p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab laudantium impedit nemo beatae necessitatibus quaerat vel, perspiciatis fuga provident reprehenderit quos enim aspernatur tenetur quo iusto ratione animi, quia fugit?
	//-     #login-number.tab-pane.fade.show(role='tabpanel')
	//-       p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab laudantium impedit nemo beatae necessitatibus quaerat vel, perspiciatis fuga provident reprehenderit quos enim aspernatur tenetur quo iusto ratione animi, quia fugit?
	form.ad-form
		.course_tab_content.pt-5
			#nav-tabContent.tab-content
				#login-email.tab-pane.fade.show.active(role='tabpanel')  
					.field-wrapper.field-wrapper--no-message 
						.text-field__content
							input.text-field__input.text-field--icon(
								type='email'
								placeholder='Email Address Or Number'
								name='email address' 
								data-purpose='edit-course-title' 
								maxlength=''
								required
								id="emailType"
								value=''
								)
							select.key-number#key-number(style="display : none")
								option(value) +02
								option(value="") +966
								option(value="") +02
								option(value="") +092
							i.uil.uil-envelope.icon-message#icon-message(style="display : block") 
					.field-wrapper.field-wrapper--no-message.mt-15
						.text-field__content
							input.text-field__input.text-field--icon(
								type='Password'
								placeholder='Password'
								name='Password'  
								maxlength=''
								required
								id="emailType" 
								) 
							i.uil.uil-key-skeleton-alt.icon-message 
					.field.mt-30
						.ui.checkbox.icon
							input.hidden#remember(
								type="checkbox"
								tabindex="0" )
							label(for="remember") Remember Me
				#login-number.tab-pane.fade(role='tabpanel')
					.mt-15
						label.form-label.d-none(for="phone") Password *
						.text-field__content.w-100
							input.text-field__input.text-field__input--rounded#phone(
								type="tel"
								name="phone"
								)
						.alert.alert-info(style="display: none")
						.alert.alert-error.alert-danger(style="display: none")
							//- .alert.alert-info(style="display: none")
							//- i.uil.uil-key-skeleton-alt.icon.icon2
					.field-wrapper.field-wrapper--no-message.mt-15
						.text-field__content
							input.text-field__input.text-field--icon(
								type='Password'
								placeholder='Password'
								name='Password'  
								maxlength=''
								required
								id="emailType" 
								) 
							i.uil.uil-key-skeleton-alt.icon-message 
					.ui.form.checkbox_sign.mt-30 
						.ui.checkbox.icon
							input.hidden#remember(
								type="checkbox"
								tabindex="0" )
							label(for="remember") Remember Me
			button.ad-btn.ad-btn--primary.ad-btn--rounded.ad-btn--center(type="submit")  Sign In
			p.title-2.mt-4
				a.title-2(href="forgot_password.html")  Forgot Password
			.middle-or.d-flex.my-2
				hr
				p.mb-0  Or
				hr
			.socialMedia.d-flex.justify-content-center
				a.social-icon__link.social-icon--fa-bg.social-icon--ml
					i.uil.uil-facebook-f
				a.social-icon__link.social-icon--tw-bg.social-icon--ml
					i.uil.uil-twitter
				a.social-icon__link.social-icon--go-bg.social-icon--ml
					i.uil.uil-google
			p.mb-0.mt-30.title-2 Don't have an account?
				a(href="signup.html")  Sign Up
