extends ../layouts/auth.pug


block title

  title login

block content
  div(class="sign_in_up_bg")
      div(class="container ")
        div(class="row justify-content-lg-center justify-content-md-center")
          .col-lg-12
            div(class="main_logo25" , id="logo")
              h2(class="fw-bold") Advance
              //- a(href='index.html')
              //-   img(src='../../assets/images/sign_logo.png' alt='')
              //- a(href='index.html')
              //-   img.logo-inverse(src='../../assets/images/sign_logo.png' alt='')
          div(class="col-lg-6 col-md-8")
            section.sign_form
              h2 Welcome Back
              //- p Log In to Your Edututs+ Account!
              //- button(class="social_lnk_btn color_btn_fb")
              //-   i(class="uil uil-facebook-f")
              //-   | Continue with Facebook
              //- button(class="social_lnk_btn mt-15 color_btn_tw")
              //-   i(class="uil uil-twitter")
              //-   | Continue with Twitter
              //- button(class="social_lnk_btn mt-15 color_btn_go")
              //-   i(class="uil uil-google")
              //-   | Continue with Google
              form
                div(class="ui search focus mt-15")
                  div(class=" icon input lbel25")
                    label(for="validationServerEmail" class="sr-only d-none") Email Address *
                    div(class="ui left icon input swdh95  w-100")
                      input(
                        class="prompt srch_explore"
                        type="email"
                        name="emailaddress"
                        required
                        id="validationServerEmail emailtype"
                        aria-describedby="validationServer04Feedback"
                        placeholder="Email Address Or Password" autofocus)
                      select(class="key-number d-block")
                        option(value) +02
                        option(value="") +966
                        option(value="") +02
                        option(value="") +092
                      i(class="uil uil-envelope icon icon2 d-none")
                    div(class="invalid-feedback my-2" id="validationServer04Feedback") Requerd
                div(class="ui search focus mt-15")
                  div(class=" icon input lbel25")
                    label(for="validationServeriPassword" class="form-label d-none") Password *
                    div(class="ui left icon input swdh95 w-100")
                      input(
                        class="prompt srch_explore"
                        type="password"
                        name="password"
                        required
                        id="validationServeriPassword"
                        aria-describedby="validationServer05Feedback"
                        placeholder="Password"
                        )
                      i(class="uil uil-key-skeleton-alt icon icon2")
                    div(class="invalid-feedback my-2" id="validationServer05Feedback" ) Requerd
                div(class="ui form checkbox_sign mt-30")
                  div(class="inline field")
                    div(class="ui checkbox mncheck")
                      input(
                        class="hidden"
                        type="checkbox"
                        tabindex="0"
                        id="remember")
                      label(for="remember") Remember Me
                button(class="login-btn" type="submit")  Sign In
              p(class="sgntrm145 mt-4")
                a(href="forgot_password.html")  Forgot Password
              div(class=" middle-or d-flex my-2 ")
                hr
                p(class="mb-0") Or
                hr
              button(class="social_lnk_btn color_btn_fb")
                i(class="uil uil-facebook-f")
              button(class="social_lnk_btn mt-15 color_btn_tw")
                i(class="uil uil-twitter")
              button(class="social_lnk_btn mt-15 color_btn_go")
                i(class="uil uil-google")
              p(class="mb-0 mt-30 hvsng145")  Don't have an account?
                a(href="sign_up.html")  Sign Up

          .sign_footer
            | &copy; 2020
            strong  Advance
            |. All Rights Reserved.


