extends ../layouts/auth.pug


block title
  title signup

block content
  h2 Welcome Back
  //- p Log In to Your Edututs+ Account! 
  form
    div.ui.search.focus
      div.icon.input.lbel25
        label.sr-only.d-none(for="validationServerFullName") Full Name *
        div.ui.left.icon.input.swdh19.w-100
          input.prompt.srch_explore.form-control(
            type="text"
            name="fullname"
            id="validationServerFullName" required maxlength="64"
            aria-describedby="validationServer01Feedback"
            placeholder="Full Name" autofocus)
        div.invalid-feedback.my-2 Requerd
    div.ui.search.focus.mt-15
      div.icon.left.input.lbel25
        label.sr-only.d-none(for="validationServerEmail") Email Address *
        div.ui.left.icon.input.swdh19.w-100
          input.prompt.srch_explore(
            type="email"
            name="emailaddress"
            id="validationServerEmail" required maxlength="64"
            aria-describedby="validationServer02Feedback"
            placeholder="Email Address" )
        div.invalid-feedback.my-2#validationServer02Feedback Requerd
      div.ui.search.focus.mt-15
        div.icon.input.lbel25
          label.sr-only.d-none(for="validationServerPassword")  Password *
          div.ui.left.icon.input.swdh19.w-100
            input.prompt.srch_explore( 
              type="password"
              name="password"
              id="validationServerPassword"
              aria-describedby="validationServer03Feedback"
              required maxlength="64"
              placeholder="Password" )
          div.invalid-feedback.my-2#validationServer03Feedback Requerd
        div.ui.form.mt-30.checkbox_sign
          div.inline.field
            div.ui.checkbox.mncheck
              input.hidden(
                type="checkbox"
                tabindex="0"
                id="remembr-signup"
                )
              label(for="remembr-signup") I’m in for emails with exciting discounts and personalized recommendations
            button.login-btn( 
              type="submit")
              | Next
          p.sgntrm146  By signing up, you agree to our
            a(href="terms_of_use.html")   Terms of Use
            |   and
            a(href="terms_of_use.html")  Privacy Policy
            |  .
          p.mb-0.mt-30  Already have an account?
            a(href="sign_in.html")  Log In