extends ../layouts/auth.pug


block title
	title sign-up

block content
	h2.title-h6.semi-bold  Welcome Back
	//- p Log In to Your Edututs+ Account! 
	form.ad-form
		.field-wrapper.field-wrapper--no-message.mt-15
			.text-field__content
				input.text-field__input(
					type='text'
					placeholder='fullName'
					name='fullName'  
					maxlength=''
					required 
					) 
				.invalid-feedback.my-2 required
		.field-wrapper.field-wrapper--no-message.mt-15
			.text-field__content
				input.text-field__input(
					type='email'
					placeholder='Email Address'
					name='emailAddress'  
					maxlength=''
					required 
					) 
				.invalid-feedback.my-2 required
		.field-wrapper.field-wrapper--no-message.mt-15
			.text-field__content
				input.text-field__input(
					type='Password'
					placeholder='Password'
					name='Password'  
					maxlength=''
					required
					id="emailType" 
					)  
			.mt-30
				.inline.field
					.ui.checkbox.icon
						input.hidden(
							type="checkbox"
							tabindex="0"
							id="remember-signUp"
							)
						label(for="remember-signUp") I’m in for emails with exciting discounts and personalized recommendations
				button.btn.btn--primary.btn--rounded.btn--center.medium.text-2.px-5.mt-4(type="submit")  Sign Up
				p.title-2.terms-link  By signing up, you agree to our
					a.btn.btn--primary.btn--text.p-0.m-0(href="terms_of_use.html")    Terms of Use 
					|   and
					a.btn.btn--primary.btn--text.p-0.m-0(href="terms_of_use.html")   Privacy Policy 
					|  .
				p.mb-0.mt-30  Already have an account?
					a.btn.btn--success.btn--text.p-0.m-0(href="sign_in.html")  Log In