extends ../layouts/auth.pug


block title
	title sign-up

block content
	h2.title-h6.semi-bold  Welcome Back
	//- p Log In to Your Edututs+ Account! 
	form.ad-form
		.field-wrapper
			label.text-field__label 
				|	Course Title 
				abbr(title="required") *
			.text-field__content
				input.text-field__input(
					type='text'
					placeholder='fullName'
					name='fullName'  
					maxlength=''
					required 
					) 
			ul.messages
				li 
					| Please provide a valid city.
		.field-wrapper
			label.text-field__label 
				|	Course Title 
				abbr(title="required") *
			.text-field__content
				input.text-field__input(
					type='email'
					placeholder='Email Address'
					name='emailAddress'  
					maxlength=''
					required 
					) 
			ul.messages
				li 
					| Please provide a valid city.
		.field-wrapper
			label.text-field__label 
				|	Course Title 
				abbr(title="required") *
			.text-field__content
				input.text-field__input(
					type='Password'
					placeholder='Password'
					name='Password'  
					maxlength=''
					required
					id="emailType" 
					)   
			ul.messages
				li 
					| Please provide a valid city.
		.field-wrapper
			.ui.checkbox.icon
				input.hidden(
					type="checkbox"
					tabindex="0"
					id="remember-signUp"
					)
				label(for="remember-signUp") I’m in for emails with exciting discounts and personalized recommendations
		.row.d-flex.justify-content-around
			button.ad-btn.ad-btn--primary.ad-btn--rounded.ad-btn--xl(type="submit")  Sign Up
		p.title-2.terms-link  By signing up, you agree to our
			a.ad-btn.ad-btn--primary.ad-btn--text.ad-btn--style(href="terms_of_use.html")    Terms of Use 
			|   and
			a.ad-btn.ad-btn--primary.ad-btn--text.ad-btn--style(href="terms_of_use.html")   Privacy Policy 
			|  .
		p  Already have an account?
			a.ad-btn.ad-btn--success.ad-btn--text.ad-btn--style(href="login.html")  Log In