extends ../layouts/auth.pug


block title
	title sign-up

block content
	h5.semi-bold.text--center  Sign up
	//- p Log In to Your Edututs+ Account!
	form.form
		.row 
			.col-md-6
				.field-wrapper
					label.field-wrapper__label
						
					.field-wrapper__content
						input(
							class="field"
							type='text'
							placeholder='User Name'
							name='username'
							maxlength=''
							required
							)
			.col-md-6 
				.field-wrapper.field-wrapper--full
					label(class="field-wrapper__label" for="phone")
					.field-wrapper__content.w-100
						input(
							id="phone"
							class="field field--with-icon iti-mobile"
							type="tel"
							name="phone"
							dir="ltr"
							)
			.col-md-6
				.field-wrapper
					label.field-wrapper__label
						
					.field-wrapper__content
						input(
							class="field"
							type='text'
							placeholder='First Name'
							name='first_name'
							maxlength=''
							required
							)
			.col-md-6
				.field-wrapper
					label.field-wrapper__label
						
					.field-wrapper__content
						input(
							class="field"
							type='text'
							placeholder='Last Name'
							name='lastName'
							maxlength=''
							required
							)
			.col-md-6
				.field-wrapper
					label.field-wrapper__label
						
					.field-wrapper__content
						input(
							class="field"
							type='date'
							placeholder='Birth date'
							name='birthDate'
							required
							)
			.col-md-6
				.field-wrapper
					label.field-wrapper__label 
					.field-wrapper__content
						select.field
							option(value='') Select Gender
							option(value='1') Male
							option(value='2') Female
							
					ul.field-wrapper__messages
						li
							| Please provide a valid city.
			//- ul.field-wrapper__messages
				li Please provide a valid city.
			.col-md-6
				.field-wrapper
					label.field-wrapper__label
						
					.field-wrapper__content
						input(
							class="field"
							type='email'
							placeholder='Email Address'
							name='emailAddress'
							maxlength=''
							required
							)
			//- ul.field-wrapper__messages
				li Please provide a valid city.
			.col-md-6
				.field-wrapper
					label.field-wrapper__label
						
					.field-wrapper__content
						input(
							class="field"
							type='Password'
							placeholder='Password'
							name='Password'
							maxlength=''
							required
							)
			.col-md-6
				.field-wrapper
					label.field-wrapper__label
						
					.field-wrapper__content
						input(
							class="field"
							type='Password'
							placeholder='Confirm Password'
							name='confirmPassword'
							maxlength=''
							required
							)
			//- ul.field-wrapper__messages
				li Please provide a valid city.
			.col-md-12
				.field-wrapper
					div.check-field
						div.check-field__control
							input(class="check-field__input" type="checkbox" id="checkbox-11" name="checkname")
							label(for="checkbox-11")
							span
						label.check-field__label I’m in for emails with exciting discounts and personalized recommendations 
			
		//- .d-flex.justify-content-around
		button(class="btn btn--primary btn--ripple btn--block" type="submit")  Sign up
			//- button(type="submit" class="btn btn--primary btn--ripple btn--rounded")  Sign Up
	p.title-2.terms-link  By signing up, you agree to our
		a(href="terms_of_use.html" class="text-3")    Terms of Use  and
		a(href="terms_of_use.html" class="text-3")   Privacy Policy .
	p  Already have an account?
		a(href="login.html" class="text-3")  Log In
