extends ../layouts/auth.pug


block title
	title sign-up

block content
	h2.title-h4.semi-bold  Welcome Back
	//- p Log In to Your Edututs+ Account!
	form.form
		.field-wrapper
			label.text-field__label
				|	Course Title
				abbr(title="required") *
			.text-field__content
				input(
          class="text-field__input"
					type='text'
					placeholder='fullName'
					name='fullName'
					maxlength=''
					required
					)
			ul.messages
				li Please provide a valid city.
		.field-wrapper
			label.text-field__label
				|	Course Title
				abbr(title="required") *
			.text-field__content
				input(
          class="text-field__input"
					type='email'
					placeholder='Email Address'
					name='emailAddress'
					maxlength=''
					required
					)
			ul.messages
				li Please provide a valid city.
		.field-wrapper
			label.text-field__label
				|	Course Title
				abbr(title="required") *
			.text-field__content
				input(
          class="text-field__input"
					type='Password'
					placeholder='Password'
					name='Password'
					maxlength=''
					required
					)
			ul.messages
				li Please provide a valid city.
		.field-wrapper
			.ui.checkbox.icon
				input(
          class="hidden"
					type="checkbox"
					tabindex="0"
					id="remember-signUp"
					)
				label(for="remember-signUp") I’m in for emails with exciting discounts and personalized recommendations
		.d-flex.justify-content-around
			button(type="submit" class="btn btn--danger btn--rounded btn--xl")  Sign Up
	p.title-2.terms-link  By signing up, you agree to our
		a(href="terms_of_use.html" class="text-3 btn--link-text btn--danger btn")    Terms of Use  and
		a(href="terms_of_use.html" class="text-3 btn--link-text btn--danger btn")   Privacy Policy .
	p  Already have an account?
		a(href="login.html" class="text-3 btn--link-text btn--secondary btn")  Log In
