mixin checkfield(type, label, id, name)
  .check-field
    .check-field__control
      input(class="check-field__input" type=type id=id name=name)
      label(for=id)
      span
    if label
      label(class="check-field__label" for=id)= label


mixin checkbox(label, id, name)
  +checkfield("checkbox", label, id, name)

mixin radio(label, id, name)
  +checkfield("radio", label, id, name)


mixin checkfield-group(type, name, values, horizonal=false)
  - var fieldWrapperClass = "check-field-group"
  if horizonal
    - fieldWrapperClass += " check-field-group--horizontal"

  div(class=fieldWrapperClass)
    each val in values
      if type === 'checkbox'
        +checkbox(val, val, name)
      else if type === 'radio'
        +radio(val, val, name)


mixin group-check-field-wrapper(type, label, id, name, values, horizonal=false)
  .field-wrapper(id=id)
    label(class="field-wrapper__label")= label
    +checkfield-group(type, name, values, horizonal)


mixin checkfield-group-with-class(className,id, type, name, values, horizonal=false)
  - var fieldWrapperClass = "check-field-group " + className
  if horizonal
    - fieldWrapperClass += " check-field-group--horizontal"

  div(class=fieldWrapperClass id=id)
    each val in values
      if type === 'checkbox'
        +checkbox(val, val, name)
      else if type === 'radio'
        +radio(val, val, name)

mixin group-check-field-wrapper-with-label-slot(type, className,label, id, name, values, horizonal=false)
  .field-wrapper
    label(class="field-wrapper__label")
      span=label
      block
    +checkfield-group-with-class(className,id, type, name, values, horizonal)



mixin check-field-wrapper(type, label, id, name)
  .field-wrapper
    label(class="field-wrapper__label" for=id)= label
    .field-wrapper__content
      if type === 'checkbox'
        +checkbox(label, id, name)
      else if type === 'radio'
        +radio(label, id, name)

mixin switch(type, id, label, name, value=null)
  .field-wrapper
    .switch
      .switch__control
        input(type=type name=name id=id value=value)
        label(for=id)
      label(for=id class='switch__label')= label


mixin text-field(type, label, id, name, placeholder, error=false, messages=[])
  - var wrapperClass = 'field-wrapper'
  if (error)
    - wrapperClass += ' field-wrapper--error'

  div(class=wrapperClass)
    label.field-wrapper__label= label
    .field-wrapper__content
      input(class="field" type=type placeholder=placeholder name=name id=id)
    ul.field-wrapper__messages
      each message in messages
        li= message


mixin text-field-sm(type, label, id, name, placeholder, error=false, messages=[])
  - var wrapperClass = 'field-wrapper field-wrapper--sm'
  if (error)
    - wrapperClass += ' field-wrapper--error'

  div(class=wrapperClass)
    label.field-wrapper__label= label
    .field-wrapper__content
      input(class="field" type=type placeholder=placeholder name=name id=id)
    ul.field-wrapper__messages
      each message in messages
        li= message


mixin text-field-lg(type, label, id, name, placeholder, error=false, messages=[])
  - var wrapperClass = 'field-wrapper field-wrapper--lg'
  if (error)
    - wrapperClass += ' field-wrapper--error'

  div(class=wrapperClass)
    label.field-wrapper__label= label
    .field-wrapper__content
      input(class="field" type=type placeholder=placeholder name=name id=id)
    ul.field-wrapper__messages
      each message in messages
        li= message


mixin text-field-underline(type, label, id, name, placeholder, error=false, messages=[])
  .field-wrapper
    label.field-wrapper__label= label
    .field-wrapper__content
      input(class="field field--underline" type=type placeholder=placeholder name=name id=id)
      ul.field-wrapper__messages
        each message in messages
          li= message

mixin text-field-disabled(type, label, id, name, placeholder, error=false, messages=[])
  .field-wrapper
    label.field-wrapper__label= label
    .field-wrapper__content
      input(class="field field--underline" disabled type=type placeholder=placeholder name=name id=id)
    ul.field-wrapper__messages
      each message in messages
        li= message
