mixin progress(heightProgress,widthProgress,valuenow ,valuemin , valuemax)
  .rating__progress(class=heightProgress)
    .progress--progress-bar(class=widthProgress role='progressbar' aria-valuenow=valuenow aria-valuemin=valuemin aria-valuemax=valuemax)
