mixin user-acount(className,srcImg,userText,userName)
  section.user-wrapper__acount(class=className)
    .acount__live-user
      .live-user__content
        a.content__user-img(href='#')
          img.user-img__img(src=srcImg alt='')
      .live-user__user-content
        a.user-content__text(class=userName href='#')= userText
        block

//- user-acount rating
mixin acount-review(srcImg,userName,time)
  .item__reviews-user
    img.reviews-user__img(src=srcImg alt='')
    .reviews-user__title
      h4(class="title__name")= userName
      span(class="title__time")= time
    block dropdown
