.header__notification
  .dropdown.dropdown--header
    a(class="notification__item dropdown-toggl dropdown__activator"
      href="javascript:void(0)"
      title='language'
      data-toggle="dropdown"
      data-offset="0,18"
      )
        span.notification__icon.material-icons language
    .dropdown__content.dropdown-menu
      .card-list
        .card__content
          .list
            .list-item.list-item
              .list-item__content
                p.subtitle-1.gray English
              .list-item__action
                //- .field-wrapper
                  div
                    input(class="field" type="checkbox" id="en" name="checkname" checked)
                    label(for="en")
                      span
            .list-item.list-item
              .list-item__content
                p.subtitle-1.gray Arabic
              .list-item__action
                //- .field-wrapper
                  div
                    input(class="field" type="checkbox" id="ar" name="checkname")
                    label(for="ar")
                      span
  .dropdown.dropdown--header
    a.notification__item.dropdown__activator(href="javascript:void(0)" data-toggle="dropdown" data-offset="0,18" title='Messages')
      i.notification__icon.material-icons email
      span.notification__number 3
    .dropdown__content.dropdown-menu
      .card-list
        .card__content
          .list
            .list-item.list-item--multiple.list-item--with-border
              .list-item__avatar
                img(class="image image--small-profile image--rounded" src="../../assets/images/profile.png" alt="avatar")
              .list-item__content
                span.overline
                  | lorem lorem
                a(href="#" class="body-2 bold") Jose Portilla
                p.subtitle-1.gray Jose_Portilla@test.com
                span.subtitle-2.gray.bold 12/3/1688
              .list-item__action
            //- .divider
            .list-item.list-item--three-lines.list-item--with-border
              .list-item__avatar
                img(class="image image--small-profile image--rounded" src="../../assets/images/profile.png" alt="avatar")
              .list-item__content
                span.overline
                  | lorem lorem
                a(href="#" class="body-2 bold") Jose Portilla
                p.subtitle-1.gray Jose_Portilla@test.com
              .list-item__action
            //- .divider
            .list-item.list-item--two-lines.list-item--with-border
              .list-item__avatar
                i.fas.fa-user
                //- img(class="image image--small-profile image--rounded" src="../../assets/images/profile.png" alt="avatar")
              .list-item__content
                a(href="#" class="body-2 bold") Jose Portilla
                p.subtitle-2.gray Jose_Portilla@test.com
              .list-item__action
            //- .divider
            .list-item.list-item--one-line.list-item--with-border
              .list-item__avatar
                img(class="image image--small-profile image--rounded" src="../../assets/images/profile.png" alt="avatar")
              .list-item__content
                a(href="#" class="body-2 bold") Jose Portilla
              .list-item__action
  .dropdown.dropdown--header.dropdown--close-on-click
    a(class="notification__item dropdown__activator" data-toggle="dropdown" data-offset="0,18" href="javascript:void(0)" title='Messages')
      span.notification__icon.material-icons notifications_none
      span.notification__number 3
    .dropdown__content.dropdown-menu
      .card-list
        .card__content
          .list
            .list-item.list-item--multiple.list-item--with-border
              .list-item__avatar
                img(class="image image--small-profile image--rounded" src="../../assets/images/profile.png" alt="avatar")
              .list-item__content
                span.overline
                  | lorem lorem
                a(href="#" class="body-2 bold") Jose Portilla
                p.subtitle-1.gray Jose_Portilla@test.com
                span.subtitle-2.gray.bold 12/3/1688
              .list-item__action
            //- .divider
            .list-item.list-item--three-lines.list-item--with-border
              .list-item__avatar
                img(class="image image--small-profile image--rounded" src="../../assets/images/profile.png" alt="avatar")
              .list-item__content
                span.overline
                  | lorem lorem
                a(href="#" class="body-2 bold") Jose Portilla
                p.subtitle-1.gray Jose_Portilla@test.com
              .list-item__action
            //- .divider
            .list-item.list-item--two-lines.list-item--with-border
              .list-item__avatar
                i.fas.fa-user
                //- img(class="image image--small-profile image--rounded" src="../../assets/images/profile.png" alt="avatar")
              .list-item__content
                a(href="#" class="body-2 bold") Jose Portilla
                p.subtitle-2.gray Jose_Portilla@test.com
              .list-item__action
            //- .divider
            .list-item.list-item--one-line.list-item--with-border
              .list-item__avatar
                img(class="image image--small-profile image--rounded" src="../../assets/images/profile.png" alt="avatar")
              .list-item__content
                a(href="#" class="body-2 bold") Jose Portilla
              .list-item__action
  .dropdown.dropdown--header
    img(src='../../assets/images/profile.png' alt='' class="dropdown__activator profile-link__img image image--xs-small-profile image--rounded"
    aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" data-offset="0,16")
    .dropdown__content.dropdown-menu
      .list.list--condensed
        .list-item.list-item--one-line
          .list-item__avatar
            img(class="image image--small-profile image--rounded" src="../../assets/images/profile.png" alt="avatar")
          .list-item__content
            a(href="#" class="body-2 bold") Jose Portilla
            p.subtitle-1.gray Jose_Portilla@test.com
        //- a(href="#" class="link") Lorem ipsum dolor
        .divider
        .list-item.list-item--one-line
          .list-item__avatar
            i.fas.fa-moon
          .list-item__content
            a(href="#" class="body-2") Lorem ipsum
          .list-item__action
            .switch
              input(class="dark-mode-toggle" id="dark-mode-toggle" type="checkbox")
              label(for="dark-mode-toggle")
        .divider
        .list-item.list-item--one-line
          .list-item__content
            a(href="#" class="body-2") Lorem ipsum
        .list-item.list-item--one-line
          .list-item__content
            a(href="#" class="body-2") Lorem ipsum
        .list-item.list-item--one-line
          .list-item__content
            a(href="#" class="body-2") Lorem ipsum
        .list-item.list-item--one-line
          .list-item__content
            a(href="#" class="body-2") Lorem ipsum
