extends ../../../layouts/admin.pug
block title
	title lists
block sidebar
	include ../../../components/sidebar-content.pug

block content
	.container
		.row
			//- .ad-card--with-title .ad-card--top-category
			.col-lg-12
				h2.title-2.my-3 Card with title with  category
				p.text-2.mb-1
					| we use
					code .ad-card--with-title .ad-card--top-category
			.col-lg-3
				.ad-card.ad-card--with-title.ad-card--top-category
					.ad-card__title.mb-2
						h5.title-h6 Top Categories
					.ad-card__content
						.ad-card__body
							.ad-card__content--details
								ul.ad-card__list
									li.ad-card__list-item
										a.ad-card__item-link(href="#")
											i.uil.uil-arrow
											| Development
									li.ad-card__list-item
										a.ad-card__item-link(href="#")
											i.uil.uil-graph-bar
											| Business
									li.ad-card__list-item
										a.ad-card__item-link(href="#")
											i.uil.uil-graph-bar
											| IT and Software
									li.ad-card__list-item
										a.ad-card__item-link(href="#")
											i.uil-ruler
											| Design

		.row 
			.col-lg-4 
				.ad-card.ad-card--centered
					.ad-card__content
						.list 
							.list-item.list-item--border-bottom
								.list-item__avatar
									img(src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
								.list-item__action 
									.ui.form.checkbox_sign
										.ui.checkbox.icon.box
											input.hidden#remember2(
												type="checkbox" tabindex="0" )
											label(for="remember2")
							.list-item.list-item--border-bottom
								.list-item__avatar
									img(src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
								.list-item__action 
									.ui.form.checkbox_sign
										.ui.checkbox.icon.box
											input.hidden#remember2(
												type="checkbox" tabindex="0" )
											label(for="remember2")
							.list-item.list-item--border-bottom
								.list-item__avatar
									img(src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
								.list-item__action 
									.ui.form.checkbox_sign
										.ui.checkbox.icon.box
											input.hidden#remember2(
												type="checkbox" tabindex="0" )
											label(for="remember2")
							.list-item.list-item--border-bottom
								.list-item__avatar
									img(src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
								.list-item__action 
									.ui.form.checkbox_sign
										.ui.checkbox.icon.box
											input.hidden#remember2(
												type="checkbox" tabindex="0" )
											label(for="remember2")

			.col-lg-4 
				.ad-card.ad-card--centered
					.ad-card__content
						.list 
							.list-item.list-item--two-lines.list-item--border-bottom
								.list-item__avatar
									img(src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									.ui.form.checkbox_sign
										.ui.checkbox.icon.box
											input.hidden#remember2(
												type="checkbox" tabindex="0" )
											label(for="remember2")
							.list-item.list-item--two-lines.list-item--border-bottom 
								.list-item__avatar
									img(src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									.ui.form.checkbox_sign
										.ui.checkbox.icon.box
											input.hidden#remember2(
												type="checkbox" tabindex="0" )
											label(for="remember2")
							.list-item.list-item--two-lines.list-item--border-bottom 
								.list-item__avatar
									img(src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									.ui.form.checkbox_sign
										.ui.checkbox.icon.box
											input.hidden#remember2(
												type="checkbox" tabindex="0" )
											label(for="remember2")
							.list-item.list-item--two-lines.list-item--border-bottom
								.list-item__avatar
									img(src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									.ui.form.checkbox_sign
										.ui.checkbox.icon.box
											input.hidden#remember2(
												type="checkbox" tabindex="0" )
											label(for="remember2")
			.col-lg-4 
				.ad-card.ad-card--centered
					.ad-card__content
						.list 
							.list-item.list-item--border-bottom
								.list-item__avatar
									img(src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									p.overline Lorem, ipsum dolor.
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									.ui.form.checkbox_sign
										.ui.checkbox.icon.box
											input.hidden#remember2(
												type="checkbox" tabindex="0" )
											label(for="remember2")
							.list-item.list-item--border-bottom
								.list-item__avatar
									img(src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									p.overline Lorem, ipsum dolor.
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									.ui.form.checkbox_sign
										.ui.checkbox.icon.box
											input.hidden#remember2(
												type="checkbox" tabindex="0" )
											label(for="remember2")
							.list-item.list-item--border-bottom
								.list-item__avatar
									img(src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									p.overline Lorem, ipsum dolor.
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									.ui.form.checkbox_sign
										.ui.checkbox.icon.box
											input.hidden#remember2(
												type="checkbox" tabindex="0" )
											label(for="remember2")
							.list-item.list-item--border-bottom
								.list-item__avatar
									img(src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									p.overline Lorem, ipsum dolor.
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									.ui.form.checkbox_sign
										.ui.checkbox.icon.box
											input.hidden#remember2(
												type="checkbox" tabindex="0" )
											label(for="remember2")

			.col-lg-4 
				.ad-card.ad-card--centered
					.ad-card__content
						.list 
							.list-item.list-item--border-bottom
								.list-item__icon 
									i.fas.fa-user
								.list-item__content
									p.overline Lorem, ipsum dolor.
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									.ui.form.checkbox_sign
										.ui.checkbox.icon.box
											input.hidden#remember2(
												type="checkbox" tabindex="0" )
											label(for="remember2")
							.list-item.list-item--border-bottom
								.list-item__icon 
									i.fas.fa-user
								.list-item__content
									p.overline Lorem, ipsum dolor.
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									.ui.form.checkbox_sign
										.ui.checkbox.icon.box
											input.hidden#remember2(
												type="checkbox" tabindex="0" )
											label(for="remember2")
							.list-item.list-item--border-bottom
								.list-item__icon 
									i.fas.fa-user
								.list-item__content
									p.overline Lorem, ipsum dolor.
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									.ui.form.checkbox_sign
										.ui.checkbox.icon.box
											input.hidden#remember2(
												type="checkbox" tabindex="0" )
											label(for="remember2")
							.list-item.list-item--border-bottom
								.list-item__icon.ad-btn.ad-btn--primary.ad-btn--icon 
									i.fas.fa-user
								.list-item__content
									p.overline Lorem, ipsum dolor.
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									button.ad-btn.ad-btn--primary.ad-btn--icon 
										i.fas.fa-info
			.col-lg-4 
				.ad-card.ad-card--centered
					.ad-card__content
						.list 
							.list-item.list-item--border-bottom
								a.list-item__link
									.link__avatar
										img(src="../../assets/images/hd_dp.jpg", alt="avatar")
									.link__content
										a(href="#" class="text-2 bold") Jose Portilla
							.list-item.list-item--border-bottom
								.list-item__avatar
									img(src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
								.list-item__action 
									.ui.form.checkbox_sign
										.ui.checkbox.icon.box
											input.hidden#remember2(
												type="checkbox" tabindex="0" )
											label(for="remember2")
							.list-item.list-item--border-bottom
								.list-item__avatar
									img(src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
								.list-item__action 
									.ui.form.checkbox_sign
										.ui.checkbox.icon.box
											input.hidden#remember2(
												type="checkbox" tabindex="0" )
											label(for="remember2")
							.list-item.list-item--border-bottom
								.list-item__avatar
									img(src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
								.list-item__action 
									.ui.form.checkbox_sign
										.ui.checkbox.icon.box
											input.hidden#remember2(
												type="checkbox" tabindex="0" )
											label(for="remember2")
			
								//- .list-item__action 
								//- 	button.ad-btn.ad-btn--icon.ad-btn--primary 
								//- 		i.fa.fa-home
			//- .col-lg-6
			//- 	.ad-card.list
			//- 		//- list-item default with 1 line
			//- 		.list-item.ad-card__content
			//- 			.user-image 
			//- 				img(src="../../assets/images/hd_dp.jpg" alt="")
			//- 			.ad-card__body
			//- 				.ad-card__content-header
			//- 					.user-data 
			//- 						a.text-2(href="#") Jose Portilla
			//- 						p.text-3.gray Jose_Portilla@test.com	
			//- 		.list-item.ad-card__content
			//- 			.user-image 
			//- 				img(src="../../assets/images/hd_dp.jpg" alt="")
			//- 			.ad-card__body
			//- 				.ad-card__content-header
			//- 					.user-data 
			//- 						a.text-2(href="#") Jose Portilla
			//- 						p.text-3.gray Jose_Portilla@test.com
			//- 		.list-item.ad-card__content
			//- 			.user-image 
			//- 				img(src="../../assets/images/hd_dp.jpg" alt="")
			//- 			.ad-card__body
			//- 				.ad-card__content-header
			//- 					.user-data 
			//- 						a.text-2(href="#") Jose Portilla
			//- 						p.text-3.gray Jose_Portilla@test.com
			//- 		.list-item.ad-card__content
			//- 			.user-image 
			//- 				img(src="../../assets/images/hd_dp.jpg" alt="")
			//- 			.ad-card__body
			//- 				.ad-card__content-header
			//- 					.user-data 
			//- 						a.text-2(href="#") Jose Portilla
			//- 						p.text-3.gray Jose_Portilla@test.com

			//- .col-lg-6
				.ad-card.list
					.list-item.ad-card__content
						.field.mt-15
							.ui.checkbox
								input.hidden#remember(
									type="checkbox"
									tabindex="0" )
						.user-image
							img(src="../../assets/images/hd_dp.jpg" alt="")
							i.uil.uil-check-circle
						.ad-card__body
							.user-data 
								a.text-2(href="#") Jose Portilla
								p.text-3.gray Jose_Portilla@test.com
					.ad-card__content.user-list__content.mt-10
						.field.mt-15
								.ui.checkbox
									input.hidden#remember(
										type="checkbox"
										tabindex="0" )
						.user-image
							img(src="../../assets/images/hd_dp.jpg" alt="")
							i.uil.uil-check-circle
						.ad-card__body
							.user-data 
								a.text-2(href="#") Jose Portilla
								p.text-3.gray Jose_Portilla@test.com
					.ad-card__content.user-list__content.mt-10
						.field.mt-15
							.ui.checkbox
								input.hidden#remember(
									type="checkbox"
									tabindex="0" )
						.user-image
							img(src="../../assets/images/hd_dp.jpg" alt="")
							i.uil.uil-check-circle
						.ad-card__body
							.user-data 
								a.text-2(href="#") Jose Portilla
								p.text-3.gray Jose_Portilla@test.com
					.ad-card__content.user-list__content.mt-10
						.field.mt-15
							.ui.checkbox
								input.hidden#remember(
									type="checkbox"
									tabindex="0" )
						.user-image
							img(src="../../assets/images/hd_dp.jpg" alt="")
							i.uil.uil-check-circle
						.ad-card__body
							.user-data 
								a.text-2(href="#") Jose Portilla
								p.text-3.gray Jose_Portilla@test.com
					button.ad-btn.ad-btn--primary.ad-btn--rounded.ad-btn--center.text-2(type="submit") Submit
					//- ----------------
					//- .list-item--border-bottom 
					//- 	.list-item__avatar
					//- 		img(src="../../assets/images/hd_dp.jpg" alt="")
					//- 	.list-item__content
					//- 		.content__user-data
					//- 			a.text-2(href="#") Jose Portilla
					//- 			p.text-3.gray Jose_Portilla@test.com	
					//- 	.list-item__action
					//- list-item with 2 lines
					//- .list-item--two-lines
					//- 	.list-item__icon
					//- 		button.ad-btn.ad-btn--primary.ad-btn--icon 
					//- 		i.fas.fa-info 
					//- 	.list-item__content 
					//- 		a.text-2(href="#") Jose Portilla
					//- 		p.text-3.gray Jose_Portilla@test.com
					//- 	.list-item__action
					//- //- list-item with 3 lines
					//- .list-item--three-lines
					//- 	.list-item__icon 
					//- 		button.ad-btn.ad-btn--primary.ad-btn--icon 
					//- 	i.fas.fa-info
					//- 	.list-item__content
					//- 	a.text-2(href="#") Jose Portilla
					//- 		p.text-3.gray Jose_Portilla@test.com 
					//- 	.list-item__action