extends ../../../layouts/admin.pug
block title
	title lists
block sidebar
	include ../../../components/sidebar-content.pug

block content
	.container
		.row
			//- .ad-card--with-title .ad-card--top-category
			.col-lg-12
				h2.title-2.my-3 Card with title with  category
				p.text-2.mb-1
					| we use
					code .ad-card--with-title .ad-card--top-category
			.col-lg-3
				.ad-card.ad-card--with-title.ad-card--top-category
					.ad-card__title.mb-2
						h5.title-h6 Top Categories
					.ad-card__content
						.ad-card__body
							.ad-card__content--details
								ul.ad-card__list
									li.ad-card__list-item
										a.ad-card__item-link(href="#")
											i.uil.uil-arrow
											| Development
									li.ad-card__list-item
										a.ad-card__item-link(href="#")
											i.uil.uil-graph-bar
											| Business
									li.ad-card__list-item
										a.ad-card__item-link(href="#")
											i.uil.uil-graph-bar
											| IT and Software
									li.ad-card__list-item
										a.ad-card__item-link(href="#")
											i.uil-ruler
											| Design
			.col-lg-12
				h2.title-2.my-3 Card with title with  category
				p.text-2.mb-1
					| we use
					code .ad-card--with-title .ad-card--top-category
			.col-lg-6
				.ad-card.ad-card--with-title.ad-card--top-category.user-list
					.ad-card__title.user-list__title.mb-2
						h3 User List
					.ad-card__content.user-list__content.mt-10
						.field.mt-20
							.ui.checkbox
								input.hidden#remember(
									type="checkbox"
									tabindex="0" )
						.user-image
							img(src="../../assets/images/hd_dp.jpg" alt="")
							i.uil.uil-check-circle
						.ad-card__body
							.ad-card__content
								.user-data 
									a.text-2(href="#") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
					.ad-card__content.user-list__content.mt-10
						.field.mt-20
								.ui.checkbox
									input.hidden#remember(
										type="checkbox"
										tabindex="0" )
						.user-image
							img(src="../../assets/images/hd_dp.jpg" alt="")
							i.uil.uil-check-circle
						.ad-card__body
							.ad-card__content
								.user-data 
									a.text-2(href="#") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
					.ad-card__content.user-list__content.mt-10
						.field.mt-20
							.ui.checkbox
								input.hidden#remember(
									type="checkbox"
									tabindex="0" )
						.user-image
							img(src="../../assets/images/hd_dp.jpg" alt="")
							i.uil.uil-check-circle
						.ad-card__body
							.ad-card__content.user-list__content.mt-10
								.user-data 
									a.text-2(href="#") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
					.ad-card__content.user-list__content.mt-10
						.field.mt-20
							.ui.checkbox
								input.hidden#remember(
									type="checkbox"
									tabindex="0" )
						.user-image
							img(src="../../assets/images/hd_dp.jpg" alt="")
							i.uil.uil-check-circle
						.ad-card__body
							.ad-card__content
								.user-data 
									a.text-2(href="#") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com

			.col-lg-6
				.ad-card.ad-card--with-title.ad-card--top-category.user-list
					.ad-card__title.user-list__title.mb-2
						h3 User List
					.ad-card__content.user-list__content.mt-10
						a.content__item-link(href="#")
							.user-image
								img(src="../../assets/images/hd_dp.jpg" alt="")
								i.uil.uil-check-circle
							.ad-card__body
								.ad-card__content
									.user-data 
										a.text-2(href="#") Jose Portilla
										p.text-3.gray Jose_Portilla@test.com
					.ad-card__content.user-list__content.mt-10
						a.content__item-link(href="#")
							.user-image
								img(src="../../assets/images/hd_dp.jpg" alt="")
								i.uil.uil-check-circle
							.ad-card__body
								.ad-card__content
									.user-data 
										a.text-2(href="#") Jose Portilla
										p.text-3.gray Jose_Portilla@test.com
					.ad-card__content.user-list__content.mt-10
						a.content__item-link(href="#")
							.user-image
								img(src="../../assets/images/hd_dp.jpg" alt="")
								i.uil.uil-check-circle
							.ad-card__body
								.ad-card__content
									.user-data 
										a.text-2(href="#") Jose Portilla
										p.text-3.gray Jose_Portilla@test.com
					.ad-card__content.user-list__content.mt-10
						a.content__item-link(href="#")
							.user-image
								img(src="../../assets/images/hd_dp.jpg" alt="")
								i.uil.uil-check-circle
							.ad-card__body
								.ad-card__content
									.user-data 
										a.text-2(href="#") Jose Portilla
										p.text-3.gray Jose_Portilla@test.com					
	