
mixin checkbox-filter(values,title)
  .filter-list__content.mb-4
    .filter-list__title
      h5= title

    ul.filter-list__items
      each val in values
        li.filter-list__item
          .field-wrapper.field-wrapper
            .check-field-group.check-field-group--horizontal
              div.check-field.px-0
                div.check-field__control
                  input(class="check-field__input" type="checkbox" id=val name=val)
                  label(for=val)
                  span
                label.check-field__label= val